@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;1,700&display=swap");

html {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  width: 100vw;
  min-width: 414px;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  max-width: 100vw;
}

#simulation-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-mode="manual"] #carCanvas {
  background: #14532d;
  width: 100%;
  height: calc(100% - 4rem);
}

[data-mode="manual"] #networkCanvas {
  display: none;
}

[data-mode="manual"] #training-size-setting {
  display: none;
}

[data-mode="self-driving"] #carCanvas {
  background: #14532d;
  width: 100%;
  height: calc(50% - 2rem);
}

[data-mode="self-driving"] #networkCanvas {
  background: black;
  width: 100%;
  height: calc(50% - 2rem);
}

[data-mode="self-driving"] #training-size-setting {
  display: block;
}

#buttons {
  display: flex;
  flex-direction: row;
}

button {
  background-color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.control-button {
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
}

.control-button:hover {
  background: lightgray;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title h1,
.modal-title button {
  margin: 0;
  padding: 0;
}

.modal-content {
  position: absolute;
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 640px;
  border-radius: 15px;
}

#close-modal-button {
  margin-right: 1rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

#close-modal-button:hover,
#close-modal-button:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

/* CSS */
.setting-button,
.track-button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

button:active,
.setting-button.active,
.track-button.active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

input {
  outline: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  #simulation-container {
    flex-direction: row;
  }

  #buttons {
    flex-direction: column;
  }

  [data-mode="manual"] #carCanvas {
    background: #14532d;
    width: calc(100% - 4rem);
    height: 100%;
  }

  [data-mode="self-driving"] #carCanvas {
    background: #14532d;
    width: calc(50% - 2rem);
    height: 100%;
  }

  [data-mode="self-driving"] #networkCanvas {
    background: black;
    width: calc(50% - 2rem);
    height: 100%;
  }
}
